{% extends 'base.html.twig' %}

{% block title %}Gonna watch something? Nice.{% endblock %}

{% block body %}

    {% include 'modules/nav.html.twig' %}
    <ul>
        <li><a href="{{ path('new_batch') }}" class="">Upload a New Season (batch)</a></li>
        <li><a href="{{ path('new_movie_batch') }}" class="">Upload Movies (batch)</a></li>
    </ul>


{% endblock %}