{% extends 'base.html.twig' %}

{% block title %}Gonna watch something? Nice.{% endblock %}

{% block body %}

    {% include 'modules/nav.html.twig' %}

    <div class="l-home-container m-align-c">

        <i class="m-blinking-text-wrapper m-blink-shadow-colour__header fab fa-youtube fa-9x c-home__icon"></i>

        <h1><span class="m-blinking-text-wrapper m-blink-shadow-colour__header c-home__header">W<span>e</span>lc<span>o</span>me</span></h1>

    </div>
        
{% endblock %}
