{% extends 'base.html.twig' %}

{% block title %}Gonna watch something? Nice.{% endblock %}

{% block body %}

    {% include 'modules/nav.html.twig' %}

    <div class="l-home-container m-align-c">

        <i class="fab fa-youtube fa-9x c-home__icon"></i>

        <h1 class="c-home__header">Hotel du Cinema</h1>

    </div>
        
{% endblock %}
