###> symfony/framework-bundle ###
.env
.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/node_modules
/migrations
/public/bundles/
/public/video_sym
/var/
/vendor/
/translations/
/tests/
/public/fontawesome-free-5.15.1-web
READ_ME.txt
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
