{% extends 'base.html.twig' %}

{% block title %}New Shows{% endblock %}

{% block body %}
    {% include 'modules/nav.html.twig' %}
    
    <h1 class="c-page-title m-blink-shadow-colour__header m-align-c">Create new Shows</h1>

    {{ include('shows/_form.html.twig') }}
{% endblock %}
