{{ form_widget(form.rating, {
        'attr': {'class': 'c-form__field m-align-c'}
    }) 
}}

<div class="m-align-c">
    <button class="c-button m-button-glow"> {{ button_label|default('Save') }} </button>
</div>


