{% extends 'base.html.twig' %}

{% block title %}Edit Movies{% endblock %}

{% block body %}
    {% include 'modules/nav.html.twig' %}

    <h1 class="m-blink-shadow-colour__header m-align-c">Edit Movies</h1>

        {{ include('movies/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('movies/_delete_form.html.twig') }}

{% endblock %}
