{% extends 'base.html.twig' %}

{% block title %}New Movies{% endblock %}

{% block body %}
    {% include 'modules/nav.html.twig' %}
    
    <h1 class="m-blink-shadow-colour__header m-align-c">Create new Movies</h1>

    {{ include('movies/_form.html.twig') }}

{% endblock %}
