{# This component receives an array of videos (either shows or movies; it's agnostic) and sorts them alphabetically.
   It also receives the "path_name", which is a string with the route name (either movies_show or shows_show) #}

{% set prevIntial = null %}

<div class="l-show-list"> 
    {% for video in videos %}
        
        {% set video_id = video.id %}
        
        {% if video.sortingField is defined %}
            {% set sorting_title = video.sortingField %}
        {% else %}
            {% set sorting_title = video.title %}
        {% endif %}

        {% if (sorting_title|first|upper != prevIntial) %}

            <p class="c-alpha-separator m-blink-shadow-colour__header" id="{{ sorting_title|first|upper }}"> 
                {{ sorting_title|first|upper }} 
                
                <a href='#btt' class="m-btt-link"> 
                    Back to top 
                </a> 
            </p>

        {% endif %}

        <a href="{{ path( path_name , { 'id': video_id }) }}" class="m-blink-shadow-colour__text c-show-card__title">
            {{ sorting_title|replace({ '_': ' ' }) }} 
        </a>    

        {% set prevIntial = sorting_title|first|upper %}

    {% else %}

        <div class="c-show-card__title">
            <p>no records found</p>
        </div>

    {% endfor %}
</div>
