{# Receives an array of movie genres and turns them into cute little 
    boxes because the client said the details screen was "too boring." #}

{% for genre in genres %}

    {% if random(1, 3) == random(1, 3) %}
        <div class="c-player__details--genre-box m-blink-shadow-colour__text m-no-black-shadow m-blinking-text-wrapper">
            <span>{{ genre|upper  }}</span>
        </div>
    {% else %}
        <div class="c-player__details--genre-box m-blink-shadow-colour__text m-no-black-shadow">
            {{ genre|upper  }}
        </div>
    {% endif %}


{% endfor %}
