<nav class="c-nav m-blink-shadow-colour__header">
    {# TICKETS #}
    <a href="{{ path('tickets_index') }}" class="c-nav__option m-blinking-text-wrapper__offset"> 
        <i class="fas fa-vote-yea c-nav__icon"></i> 
        <span class="m-hide-nav-mobile">Requests</span>
    </a>

    {# SHOWS #}
    <a href="{{ path('shows_index') }}" class="c-nav__option">
        <i class="fas fa-tv c-nav__icon"></i> 
       <span class="m-hide-nav-mobile"> Shows</span>
    </a>
    
    {# MOVIES #}
    <a href="{{ path('movies_index') }}" class="c-nav__option">
        <i class="fas fa-film c-nav__icon"></i>
        <span class="m-hide-nav-mobile">Movies</span>
    </a>

    {# ADMIN #}
    <a href="{{ path('admin_page') }}" class="c-nav__option">
        <i class="fas fa-tools c-nav__icon"></i>
    </a>
</nav>