{% extends 'base.html.twig' %}

{% block title %}Edit Tickets{% endblock %}

{% block body %}

    {% include 'modules/nav.html.twig' %}

    <h1 class="c-page-title m-align-c m-blink-shadow-colour__header">Edit Tickets</h1>

    {{ include('tickets/_edit_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
