{% extends 'base.html.twig' %}

{% block title %}New Request{% endblock %}

{% block body %}

    {% include 'modules/nav.html.twig' %}
    <div class="m-align-c">
        <h1 class="c-page-title m-blink-shadow-colour__header">Make a new Request</h1>
        <p class="m-blink-shadow-colour__text">Use this page to make new requests. Include the name of the show/movie, the season, or episode numbers you want uploaded.</p>
    </div>
    {{ include('tickets/_form.html.twig') }}
{% endblock %}
