{% extends 'base.html.twig' %}

{% block title %}ShowEpisodes index{% endblock %}

{% block body %}
    {% include 'modules/nav.html.twig' with { 'show_id': show_episodes[0].showTitle } %} {# TODO: Why am I passing this param?? #}
    
    <table class="show-list">
        <tbody>
            {% set prevEpisode = null %}
        
            {% for ep in show_episodes %}
                {% if (ep.season != prevEpisode) %}

                <tr>
                    <th> 
                        Season {{ ep.season }} Eh
                    </th>
                </tr>   

                {% endif %}

                <tr>
                    <td>
                        <a href="{{ path('show_episodes_show', {'id': ep.id}) }}" class="show-title__small">{{ ep.title|replace( {'_': ' '} ) }} </a>
                    </td>
                </tr>

                {% set prevEpisode = ep.season %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
